$('#new_duel').remove();
$('#new-duel').show();

$('#added-duels').append('<h1> hiiiiiii </h1> ');



// '
//   <div class="row panel">
//     <div class="col-md-7 voting">
//       <%= @duel.name %>
//       <div class="row">
//         <div class="photo">
//           <%= @duel.character_one_name %><br>
//           <%= image_tag @duel.character_one_image(:thumb) %><br>
//           <%= @duel.character_one_body %>
//         </div>
//         <div class="photo right">
//
//           <%= @duel.character_two_name %><br>
//           <%= image_tag @duel.character_two_image(:thumb) %><br>
//           <%= @duel.character_two_body %>
//         </div>
//       </div>
//     </div>
//   </div>
//   <p>lalalalalallla</p>
// '
