

<%= link_to 'Add New Smash', new_duel_path, id:'new-duel', remote: true, class: "btn btn-block btn-primary"%>

<% if @duels.any? %>
  <% @duels.each do |duel| %>
    <div class="row panel duel-content">
      <div class="col-md-6 voting">
        <h3 class="text-center"><%= duel.name %></h3>
        <div class="row">
          <div id="duel<%= duel.id %>_1" class="photo">
            <%= bootstrap_form_for duel do |f| %>
              <%= f.hidden_field :character_one_votes, value: duel.character_one_votes += 1 %>
              <%= duel.character_one_name %> - <%= duel.character_one_votes %><br>
              <%= image_tag duel.character_one_image(:medium) %><br>
              <%= duel.character_one_body %>
            <% end %>
          </div>
          <div id="duel<%= duel.id %>_2" class="photo right">
            <%= bootstrap_form_for duel do |f| %>
              <%= f.hidden_field :character_two_votes, value: duel.character_two_votes += 1 %>
              <%= duel.character_two_name %> - <%= duel.character_two_votes %><br>
              <%= image_tag duel.character_two_image(:medium) %><br>
              <%= duel.character_two_body %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:<%= duel.vote_percent_one %>%">
              <%= duel.character_one_name %> - <%= duel.vote_percent_one.round(1) %>%
            </div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:<%= duel.vote_percent_two %>%">
              <%= duel.character_two_name %> - <%= duel.vote_percent_two.round(1) %>%
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 border">
          <%= render 'comments/form', duel: duel %>
          <div class="comment-holder" id="comment-holder<%= duel.id %>">
          <% duel.comments.take(3).each do |comment| %>
            <div class="row comments">
              <span class="comment"><%= comment.body %></span><span class="comment-time"><%= time_ago_in_words(comment.created_at) %> ago</span>
            </div>
          <% end %>
          </div>
      </div>
    </div>
    <% if current_user.admin? %>
      <div class="row delete-button">
        <%= link_to "Delete", duel_path(duel), data: {disable_with: 'Smashing...', method: :delete}, class: "btn btn-block btn-primary"%>
      </div>
    <% end %>
    <hr>
  <% end %>
<% else %>
<h3 class="text-center">

 Nothing is currently being smashed, create smash <%= link_to 'here!', new_duel_path %>
</h3>
<% end %>
